@model IEnumerable<MyApp.Models.Veiculo>

@{
    ViewData["Title"] = "Veículos";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblVeiculos').DataTable();
    });</script>

<h1>Lista de Veículos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark mb-5">Adicionar novo Veículo</a>
</p>
<table class="table table-striped table-bordered table-responsive flex-wrap" id="tblVeiculos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quilometragem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quilometragem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-sm btn-success" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>