@model IEnumerable<Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblClientes').DataTable();
    });</script>

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark mb-5">Adicionar novo Cliente</a>
</p>
<table class="table table-striped table-bordered table-responsive flex-wrap" id="tblClientes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desejo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desejo)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-sm btn-success" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
